/*############################################################
#       BASIC SETUP
#####################################################
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizelegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}


h1,
h2,
h3 {
  font-size: 200%;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h1{
  color: #ffffff;
}
h2 {
  font-size:180%;
  text-align:center;
  margin-bottom:20px;
}

h2:after{
  display:block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 450px;
  margin: 0 auto;
  margin-top: 25px;
  }

h3 {
  font-size:110%;
  margin-bottom: 15px;
  letter-spacing: none;
  
}

a:link,
a:visited {
  text-decoration: none;
  color: #e67e22;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.5s, color 0.5s;
}
a:hover {
  color: #6d7070;
  border-bottom: 1px solid #6d7070; 

}

section {
  padding: 50px 0;
}

.box {
  padding: 1%;
}

/*#########################################################################
# Paraghraps
##################################################### */

.long-p {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box {
  font-size: 85%;
  line-height:145%;
}
/*############################################################
#     ICONS
##################################################### */

.big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 15px;
  padding: 0 60px;
  
}

.small {
  display: inline-block;
  width: 30px;
  color: #e67e22;
  text-align:left;
  font-size:175%;
  line-height:120%; 
  vertical-align: middle;
  margin-right:15px;
}




/*############################################################
#       HEADER
#####################################################
*/
header {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


/*############################################################
#       BUTTONS
#####################################################
*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.5s, border 0.3s, color 0.2s;
}

.btn1:link,
.btn1:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 10px;
}

.btn2:link,
.btn2:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
  border: 1px solid #e67e22;
}

.btn2:hover,
.btn2:active {
  color: #fff;
}




/*############################################################
#       LOGO AND NAVIGATION
#####################################################
*/

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top:25px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border 0.5s;
}

.main-nav li a:active,
.main-nav li a:hover {
  border-bottom: 2px solid #e67e22;
  padding: 10px;
}

/*############################################
#        MEALS
#################################################### */

.meals-showcase {
  list-style: none;
  width:100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
  background-color: #000;
  overflow: hidden;
}

.meal-photo {
  width:100%;
  margin: 0;
  opacity: 0.7;
 
}

.meal-photo img {
  height: auto;
  width:100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
  transform: scale(1.03);
  opacity: 1;
}

/*############################################################
#       HOW IT WORKS
#####################################################
*/

.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 40px;
}

.step-box:last-child{
  padding-left:4%;
  margin-top: 70px;
}

.phone-photo {
  width: 40%;
  height: auto;
}
.work-steps {
  margin-bottom: 40px;
}
.work-steps div {
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}

.phone-btn:link,
.phone-btn:visited {
  border: 0;
}

.phone-btn img {
  height: 55px;
  width:auto;
  margin-right:15px;
}

/*############################################################
#  Cities
#####################################################
*/

.our-cities img {
  width: 100%;
  height: auto;
  border: 4px solid #000;
  margin-bottom: 15px;
}

.cities  {
  margin-bottom: 5px;
}

/*############################################################
#  Testimonials
#####################################################
*/

.testimonials {
  background-image: url(css/back-customers.jpg)
}